Rename this to `post.md` (or `saturday.md` or whatever name you want to use in the schedule) and put your post contents here.

You can use [reddit's flavor of markdown](https://www.reddit.com/r/reddit.com/comments/6ewgt/reddit_markdown_primer_or_how_do_you_do_all_that/c03nik6).